
esame cigardi/UserSettings/EditorUserSettings.asset
esame cigardi/Assets/Plugins/FMOD/Cache/Editor/FMODStudioCache.asset
esame cigardi/fmod_editor.log
esame cigardi/Assets/Plugins/FMOD/Cache/Editor/FMODStudioCache.asset
esame cigardi/UserSettings/EditorUserSettings.asset
